<html>
    <head>
        <title>Berndawg's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">BernDawg's Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Bern is a loving pyrenees and he has a fun personality!</a></h2>
            <p></p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Meet Berndawg!</a></h2>
            <p>Bern loves food!</p>
        </div>
    </body>
</html>
